 <nav id="mainNav" class="sticky top-0 z-50">
    <div class="flex h-full items-center teal accent-3">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="ti ti-menu-2"></i></a>
      <a href="#!" class="text-4xl md:px-4">ICHG</a>
      <ul class="right hide-on-med-and-down">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav flex flex-col justify-between" id="mobile-demo">
    <div>
        <div class="flex items-center p-4 blue accent-2">
            <a id="userBtn" class="btn-floating btn-large waves-effect waves-light z-depth-0 indigo lighten-1"><i class="ti ti-2x ti-user"></i></a>    
        </div>
        <div id="topnav">
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
        </div>
    </div>
    <div>
        <hr class="w-4/5 mx-auto">
        <li><a href="#"><i class="ti ti-lg ti-login"></i> Sign In</a></li>
        <li><a href="#"><i class="ti ti-lg ti-user-plus"></i> Sign UP</a></li>
    </div>
  </ul>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  </script>
  