{% extends 'base.html' %}
{% load static %}
{% block navTitle %}Change Profile Details{% endblock navTitle %}
{% block body %}
{% if messages %}
    {% for message in messages %}
        <small class="orange accent-2 {% if message.tags %}{{message.tags}}{% endif %}">{{message}}</small>
    {% endfor %}
{% endif %}
<form method="post">
  {% csrf_token %}
    <div class="container">
        <div class="input-field">
          {{form.first_name}}
          {{form.last_name}}
          <h6 class="font-semibold text-gray-600 mx-4 my-4">
          {{email}}
          </h6>
          {{form.password.label}} :
          {{form.password}}
          <h6 class="text-center">
          <a href="/changepass">Click Here</a>
            To change password.</h6>
        </div>
        <small class="orange accent-2">{{el.errors|striptags}}</small>
    </div>
  <center>
    <button type="submit" class="btn blue lighten-2">Submit</button>
  </center>
</form>
{% endblock body %}