asgiref==3.4.0
astroid==2.6.2
certifi==2021.5.30
cloudinary==1.26.0
colorama==0.4.4
Django==3.2.5
django-cors-headers==3.7.0
isort==5.9.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysqlclient==2.0.3
pylint==2.9.3
pytz==2021.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.6
wrapt==1.12.1
