<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabler-icons.min.css' %}">
    <title>ICGH</title>
</head>
<body>
    {% include 'partials/nav.html' %}
    <script>
        document.querySelector('a[id="appTitle"]').innerHTML="{% block navTitle %}{% endblock navTitle %}"
    </script>
    {% block body %}{% endblock body %}
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/alpine.min.js' %}"></script>
</body>
<footer style="position: fixed!important;" class="bottom-0 w-full z-50">
{% block footer %}{% endblock footer %}
</footer>
</html>