{% extends 'base.html' %}
{% block navTitle %}{{allData.0.category.name}}{% endblock navTitle %}
{% block body %}
    <section class="mx-4 my-4">
        {% for data in allData %}
        {% if data.is_shown %}
        <a href="/detailpage/{{data.category.name}}/{{data.id}}" class="no-underline text-black">
            <div class="border-2 border-green-400 rounded-xl p-2 my-2">
                <div class="flex justify-between my-2">
                    <div class="flex">
                        <div class="rounded-full indigo lighten-1 h-14 w-14 flex justify-center">
                            <img  src="{{data.category.icon.url}}" width="25px" height="25px">
                        </div>
                        <div class="mx-2">
                            <span class="text-xl font-semibold">{{data.name}}</span>
                            <p class="font-semibold text-gray-400">{{data.landmark}}</p>
                        </div>
                    </div>
                    <button class="hover:bg-transparent focus:outline-none focus:bg-transparent flex justify-center p-2">
                        <i class="ti ti-2x ti-phone"></i>
                    </button>
                </div>
                <hr class="border border-gray-500 w-10/12 mx-auto">
                <div class="flex justify-between my-2">
                    <div class="mx-2">
                        <span class="text-xl font-semibold">{{data.city}}</span>
                    </div>
                    <div>
                        <p class="font-semibold text-white p-1 rounded-full {% if data.is_verified %}bg-green-400{% else %}bg-red-400{% endif %}">
                            {% if data.is_verified %}
                                Verified
                            {% else %}
                                Not Verified
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </section>
{% endblock body %}