{% extends 'base.html' %}
{% block navTitle %}ICHG Dashboard{% endblock navTitle %}
{% block body %}
<div class="container">
    <h5>Welcome, {{user.first_name}}</h5>
</div>
<hr class="h-0.5 bg-gray-200 mx-auto">
<div class="px-12 my-8">
    <a href="" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-3d-cube-sphere"></i>
        Manage Categories
    </a>
    <a href="" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-database-import"></i>
        Manage Data
    </a>
    <a href="/manage-users" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-users"></i>
        Manage Users
    </a>
</div>
{% endblock body %}