{% extends 'base.html' %}
{% block navTitle %}{{name}}{% endblock navTitle %}
{% block body %}
{% load cloudinary %}
{% if messages %}
    {% for message in messages %}
        <small class="orange accent-2 {% if message.tags %}{{message.tags}}{% endif %}">{{message}}</small>
    {% endfor %}
{% endif %}
{% if name == 'Edit User' %}
<form method="post">
    {% csrf_token %}
    <center id="formContent" class="my-8">
        <h6 class="text-gray-600">{{everyDetail.full_name}}</h6>
        <h6 class="text-gray-600">{{everyDetail.email}}</h6>
        <br>
        <div class="container">
            <label>
            {{form.is_superuser}}  
            <span>{{form.is_superuser.label}}</span>  
            </label>
        </div>
        <div class="container">
            <label>
            {{form.is_active}}  
            <span>{{form.is_active.label}}</span>  
            </label>
        </div>
        <div class="container">
            <label>
            {{form.is_staff}}  
            <span>{{form.is_staff.label}}</span>  
            </label>
        </div>
        <div class="container input-field">
            {{form.usergroup}}
            <label>{{form.usergroup.label}}</label>
        </div>
    </center>
    <div id="formFoot" class="flex justify-between fixed bottom-0 w-full">
        <button type="submit" class="btn-floating my-4 mx-2 blue lighten-2"><i class="ti ti-2x ti-checks"></i></button>
        <div>
        {% if "Edit" in name %}
        <button type="submit" formaction="/delete/user/{{everyDetail.id}}" class="btn-floating shadow-0 my-4 mx-2 red lighten-2"><i class="ti ti-2x ti-clipboard-x"></i></button>
        {% endif %}
        <a href="/manage-users" class="btn-floating my-4 mx-2 blue-grey lighten-2"><i class="ti ti-2x ti-x"></i></a>
        </div>
    </div>
    <script>
        footHeight = document.querySelector('#formFoot').clientHeight+2;
        document.querySelector('#formContent').setAttribute('style','margin-bottom:'+footHeight+'px!important;');
    </script>
</form>
{% elif 'Data' in name %}
<form method="post">
    {% csrf_token %}
    <input name="category" id="id_category" value="{{categoryId}}" type="hidden">
    <div id="formContent">
    {% for el in form %}
        {% if el.html_name in dataField %}
        <div class="container">
            <div class="input-field">
            {{el}}
            </div>
            <small class="orange accent-2">{{el.errors|striptags}}</small>
        </div>
        <script>
            document.getElementById('{{el.auto_id}}').placeholder = "{% for key,value in dataField.items %}{% if el.html_name == key %}{{value}}{% endif %}{% endfor %}"
        </script>
        {% endif %}
    {% endfor %}
        <div class="container">
            {{form.is_verified}}  
        </div>
    </div>
    <div id="formFoot" class="flex justify-between fixed bottom-0 w-full">
        <button type="submit" class="btn-floating my-4 mx-2 blue lighten-2"><i class="ti ti-2x ti-checks"></i></button>
        <div>
        {% if "Edit" in name %}
        <button type="submit" formaction="/deleteData/{{categoryName}}/{{id}}" class="btn-floating shadow-0 my-4 mx-2 red lighten-2"><i class="ti ti-2x ti-clipboard-x"></i></button>
        {% endif %}
        <a href="/manage/{{categoryName}}" class="btn-floating my-4 mx-2 blue-grey lighten-2"><i class="ti ti-2x ti-x"></i></a>
        </div>
    </div>
    <script>
        footHeight = document.querySelector('#formFoot').clientHeight+2;
        document.querySelector('#formContent').setAttribute('style','margin-bottom:'+footHeight+'px!important;');
    </script>
</form>
{% else %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="formContent">
    {% for el in form %}
        {% if el.html_name != 'icon' %}
        <div class="container">
            <div class="input-field">
            {{el}}
            </div>
            <small class="orange accent-2">{{el.errors|striptags}}</small>
        </div>
        {% else %}
        <div class="container row">
            <p class="input-field col s6"> 
                <img src="{{everyDetail.icon.url}}" alt="">
            </p>
            <div class="input-field file-field col s6">
                <div class="btn ">
                    <span>Change Icon</span>
                    <input type="file" name="icon" id="id_icon" accept=".svg">
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div id="formFoot" class="flex justify-between fixed bottom-0 w-full">
        <button type="submit" class="btn-floating my-4 mx-2 blue lighten-2"><i class="ti ti-2x ti-checks"></i></button>
        <div>
        {% if 'Edit' in name %}
        <button type="submit" formaction="/delete/categories/{{everyDetail.id}}" class="btn-floating shadow-0 my-4 mx-2 red lighten-2"><i class="ti ti-2x ti-clipboard-x"></i></button>
        {% endif %}
        <a href="/manage-categories" class="btn-floating my-4 mx-2 blue-grey lighten-2"><i class="ti ti-2x ti-x"></i></a>
        </div>
    </div>
    <script>
        footHeight = document.querySelector('#formFoot').clientHeight+2;
        document.querySelector('#formContent').setAttribute('style','margin-bottom:'+footHeight+'px!important;');
    </script>
</form>
{% endif %}
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
{% endblock body %}