{% extends 'base.html' %}
{% block navTitle %}ICHG Dashboard{% endblock navTitle %}
{% block body %}
<div class="container">
    <h5>Welcome, {{user.first_name}}</h5>
</div>
<hr class="h-0.5 bg-gray-200 mx-auto">
<div class="px-12 my-8">
    {% if perms.CHP.view_categories %}
    <a href="{% url 'manage-categories' %}" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-3d-cube-sphere"></i>
        Manage Categories
    </a>
    {% endif %}
    {% if perms.CHP.view_alldata %}
    <a href="{% url 'manage-data' %}" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-database-import"></i>
        Manage Data
    </a>
    {% endif %}
    {% if perms.CHP.view_user %}
    <a href="{% url 'manage-users' %}" class="border-2 flex flex-col mb-8 items-center text-center text-black font-semibold justify-center border-green-400 shadow rounded-lg p-4">
        <i class="ti ti-3x ti-users"></i>
        Manage Users
    </a>
    {% endif %}
</div>
{% endblock body %}