{% extends 'base.html' %}
{% block navTitle %}Manage {{name}}{% endblock navTitle %}
{% block body %}
<div class="container">
    <h5>Welcome, {{request.user.first_name}}</h5>
</div>
<hr class="h-0.5 bg-gray-200 mx-auto">
{% if messages %}
    {% for message in messages %}
        <small class="orange accent-2 {% if message.tags %}{{message.tags}}{% endif %}">{{message}}</small>
    {% endfor %}
{% endif %}
<div class="mx-4 my-8 overflow-x-auto">
    <table class="centered striped">
        <thead class="bg-gray-200">
            <tr>
            {% if users %}
                <th>User</th>
                <th>Email</th>
                <th>Role</th>
            {% elif categories %}
                <th>Name</th>
                <th>Icon</th>
            {% elif alldata %}
                <th>Category</th>
                <th>Data</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if users %}
            {% for user in users %}
            {% if user != request.user %}
                <tr>
                    <td><a href="/edit/user/{{user.id}}">{{user.full_name}}</a></td>
                    <td><a href="/edit/user/{{user.id}}">{{user.email}}</a></td>
                    {% for userGroup in user.groups.all %}
                    <td><a href="/edit/user/{{user.id}}">{{userGroup}}</a></td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% endfor %}
        {% elif categories %}
            {% for category in categories %}
                <tr>
                    <td><a href="/edit/categories/{{category.id}}">{{category.name}}</a></td>
                    <td><a href="/edit/categories/{{category.id}}">{{category.icon}}</a></td>
                </tr>
            {% endfor %}
        {% elif alldata %}
            {% for data in alldata %}
                <tr>
                    <td><a href="/edit/alldata/{{data.id}}">{{data.category}}</a></td>
                    <td><a href="/edit/alldata/{{data.id}}">{{data.data}}</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <div class="my-4 px-4 text-center">
                <h5>No {{name}} to Display</h5>
            </div>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock body %}
{% block footer %}
    <div class="my-2 float-right mr-4">
        {% if name == 'Categories' %}
        <a href="/add/categories" class="btn-floating btn-large waves-effect waves-light red"><i class="ti-2x ti ti-plus"></i></a>
        {% elif name == 'Users' %}
        <a href="/add/user" class="btn-floating btn-large waves-effect waves-light red"><i class="ti-2x ti ti-plus"></i></a>
        {% elif name == 'Data' %}
        <a href="/add/alldata" class="btn-floating btn-large waves-effect waves-light red"><i class="ti-2x ti ti-plus"></i></a>
        {% endif %}
    </div>
{% endblock footer %}